<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="navbar-wrapper" style="color:white; position: fixed;">
    <img class="navbar-logo" src="../../../assets/images/blue-bird-emoji.png">
    <ul class="navbar-vertical">
        <li class="navbar-vertical-item"><a class="navbar-vertical-link" routerLink="">[TEMP] Login Page</a></li>

        <li class="navbar-vertical-item"><a class="navbar-vertical-link" routerLinkActive="active" routerLink="/home">
                <span class="glyphicon glyphicon-home navbar-vertical-icon"></span>
                Home
            </a></li>
        <li class="navbar-vertical-item"><a class="navbar-vertical-link" routerLinkActive="active"
                routerLink="/messages">
                <span class="glyphicon glyphicon-send navbar-vertical-icon"></span>
                Messages
            </a></li>
        <li class="navbar-vertical-item"><a class="navbar-vertical-link" routerLinkActive="active"
                routerLink="/activethreads">
                <span class="glyphicon glyphicon-exclamation-sign navbar-vertical-icon"></span>
                Active Threads
            </a>
        </li>
        <li class="navbar-vertical-item"><a class="navbar-vertical-link" routerLinkActive="active"
                routerLink="/intheloop">
                <span class="glyphicon glyphicon-bullhorn navbar-vertical-icon"></span>
                Get in the Loop
            </a>
        </li>
        <li class="navbar-vertical-item"><a class="navbar-vertical-link" routerLinkActive="active"
                routerLink="/settings">
                <span class="glyphicon glyphicon-cog navbar-vertical-icon"></span>
                Settings
            </a></li>
    </ul>
</div>