<div class="navbar-wrapper" style="color:white; position: fixed;">
    <ul>
        <li><a routerLink="">[TEMP] Login Page</a></li>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="messages">Messages</a></li>
        <li><a routerLink="activethreads">Active Threads</a></li>
        <li><a routerLink="intheloop">Get in the Loop</a></li>
        <li><a routerLink="settings">Settings</a></li>
        <li><a routerLink="nonsense">[TEMP] Page Not Found Test</a></li>
    </ul>
</div>