<div class="banner-container">
    <div class="banner-left">
        <p class="banner-left-topic">{{topicNum}} - {{topicName}}</p>
        <p class="banner-left-hashtag">#{{hashtag}}</p>
    </div>
    <div class="banner-right">
        <div class="banner-right-button btn-primary"><a href="http://www.markobacon.com/"
                class="glyphicon glyphicon-new-window button-right-icon external-link"></a>
        </div>
    </div>
    <div class="banner-center">
        <p class="banner-center-content">All of the banner content is going to be here. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Donec nec nibh sollicitudin dolor pharetra mollis. Nullam in egestas eros, nec
            venenatis ligula.</p>
    </div>
</div>